@media only screen and (max-width: 992px){ 
    .header {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
    .header__content {
        margin-left: 15px;
    }
    /*настройка хэдера*/
    ul.nav__list {
        align-items: center;
        /* margin-left: -93px; */
        margin-left: -22px;
    }
    .nav__link:last-child {
        margin-right: 69px;
    }
    .nav__list {
        column-gap: 0px;
    }
    .inrto {
        max-width: 990px;
        display: flex;
        justify-content: center;
        background: none;
        /* background-color: #121D39; */
    }   

    .image {
        width: 90%;
        height: auto;
    }

    .image::before {
        display: none;
    }
    .three_circles-2 {
        display: none;
    }
    .three_circles-3 {
        display: none;
    }
    .three_circles-4 {
        display: none;
    }
    .info {
        max-width: 990px;
        display: flex;
        justify-content: center;
    } 
    .hotel__photo-1 {
        margin-right: 2px;
    }
    .hotel__photo-2 {
        margin-right: 2px;
    }
    .hotel__photo-3 {
        margin-right: 2px;
    }

    /*адаптация отеля ослан*/
    .hotel__arslan {
        display: flex;
        margin-top: 10px;
        margin-left: 0px;
        flex-wrap: wrap;
    }
    .arslan {
        max-width: 456px;
        min-width: 250px;
        font-weight: 500;
        font-size: 25px;
        line-height: 38px;
        color: #101729;
        opacity: 0.5;
        margin-top: 66px;
        margin-bottom: 60px;
    }
    /* конец адаптации отеля ослан*/
    .review {
        max-width: 900px;
        display: flex;
        justify-content: center;
    }
    .reservation {
        max-width: 900px;
        display: flex;
        justify-content: center;
    }
    .prepare__text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around;
        flex-direction: column;
        justify-content: center;
    }
    .footer {
        max-width: 900px;
        display: flex;
        justify-content: center;
    }
    .footer__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .footer__nav__list{
        column-gap: 57px;
    }
     /* .three_circles-1 {
        display: none;
    }  */
    .three_circles-1 {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
    .nav__link:last-child {
        margin-right: 9px;
    }
    
    ul.nav__list {
        margin-left: -6px;
    }
    .header__btn {
        margin-left: 71px
    }
    .inrto {
        max-width: 768px;
        display: flex;
        justify-content: center;
        background: none;
        background-color: #121D39;
    }   
    .image::before {
        display: none;
    }
    .three_circles-1 {
        display: none;
    }
    .three_circles-2 {
        display: none;
    }
    .three_circles-3 {
        display: none;
    }
    .reservation {
        max-width: 760px;
    }
    .reservation__content {
        max-width: 615px;
    }
    .footer__nav__list {
        column-gap: 41px;
    }
    .footer__nav__link:last-child {
        margin-right: 9px;
    }
    .footer__btn {
        margin-left: 21px;
    }
}

@media only screen and (max-width: 576px) {
    .header {
        max-width: 576px;
        display: flex;
        justify-content: center;
    }
    .intro {
        padding-top: 0px;
        height: 798px;
        width: 576px;
    }
    .review__title {
        font-size: 35px;
    }
    .what__hotel__photo {
        width: 485px;
        height: 450px;
        border-radius: 60px;
        margin-right: 0px;
    } 
    .white__hotel {
        margin-left: 62px;
        width: 405px;
        height: 409px;
    }
    .footer__nav__list {
        column-gap: 2px;
    }
    .footer__btn {
        margin-left: 24px;
    }
    .image {
        
        display: none;
    }
    /*тест*/
    .nav__link:last-child {
        margin-right: -12px;
    }
    .item-1 {
        margin-left: 7px;
    }
    .nav__list {
        column-gap: 15px;
    }
    .info__title {
        font-size: 40px
    } 
    .hotel__ghazi {
        justify-content: space-around;
        margin-top: 38px;
    }
    .ghazi__text {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .ghazi {
        text-align: center;
    }
    .hotel__arslan {
        justify-content: space-around;
    }
    .arslan__text {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .arslan {
        text-align: center;
    }
    .hotel__utsman {
        justify-content: space-around;
    }
    .aslan__utsman {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .utsman {
        text-align: center;
    }
    .about__us {
        text-align: center;
    }
    .stars {
        text-align: center;
    }

    .reservation__content {
        max-width: 555px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .prepare__big {
        font-size: 40px;
        text-align: center
    }
    .prepare__small {
        font-size: 25px;
        text-align: center;
    }
    /* .nav__link:last-child {
        margin-right: 9px;
    } */
    /* .nav__link:last-child {
        margin-right: 68px;
        margin-left: -60px;
    } */
    .nav__link:last-child {
        margin-right: 0px;
    }
    ul.nav__list {
        align-items: center;
        
    }
    .nav__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    
    .nav-last {
        margin-right: 0px;
        margin-left: 0px;
        /* margin-top: 20px; */
    }

    .footer__nav__link:last-child {
        margin-right: 13px;
    }
    .nav__link {
        margin-top: 20px;
    }
    .nav__item {
        display: flex;
        justify-content: center;
    }
    .nav-btn-login {
        display: flex;
        justify-content: center;
    }
    .header__btn {
        margin-left: 0px;
    }
    .footer__btn {
        margin-left: 5px;
    }
    .about__us {
        font-size: 40px;
    }




}

@media only screen and (max-width: 320px) {
    .header__content p {
        max-width: 240px;
    }
    .intro__title {
        max-width: 300px;
        font-size: 40px;
        margin-top: -12px;
    }
    .header__content {
        margin-left: 12px;
        margin-top: -128px;
        
    }
    .intro {
        padding-top: 0px;
        height: 798px;
        width: 320px;
    }
    .header__content p {
        margin-bottom: 20px;
    }
    .info__title {
        width: 300px;
        max-height: 115px;

    }
    .featured {
        width: 300px;
    }
    .hotel__photo-1 {
        width: 272px;
        height: 334px;
    }
    .ghazi {
        max-width: 295px;
        margin-top: 10px;
    }
    .info {
        padding-top: 0px
    }
    .hotel__photo-2 {
        width: 272px;
        height: 334px;
    }
    .hotel__photo-3 {
        width: 272px;
        height: 334px;
    }
    .arslan {
        max-width: 295px;
        margin-top: 10px;
    }
    .utsman {
        max-width: 295px;
        margin-top: 10px;
    }
    .hotel__utsman_h2 {
        font-size: 40px;
    }
    .hotel__arslan_h2 {
        font-size: 40px;
    }
    .hotel__ghazi_h2 {
        font-size: 40px;
    }
    .review__title {
        font-size: 30px;
        max-width: 300px;
        text-align: center;
    }
    .what__hotel__photo {
        width: 300px;
        height: 266px;
    } 
    .about__us {
        font-size: 30px;
        max-width: 300px;
    }
    .man__text { 
        max-width: 130px;
        margin-top: -30px;
    }
    .review__text {
        margin-top: 15px;
        text-align: center;
    }
    .star-1 {
        height: 39px;
        width: 39px;
        margin-right: 5px;
    }
    .star-2 {
        height: 39px;
        width: 39px;
        margin-right: 5px;
    }
    .star-3 {
        height: 39px;
        width: 39px;
        margin-right: 5px;
    }
    .star-4 {
        height: 39px;
        width: 39px;
        margin-right: 5px;
    }
    .star-5 {
        height: 39px;
        width: 39px;
        margin-right: 5px;
    }
    .white__hotel {
        /* width: 167px;
        height: 151px; */
        /* width: 273px;
        height: 270px; */
        width: 190px;
        height: 190px;
        margin-left: 72px;
        margin-top: 8px;
    }
    .prepare__big {
        font-size: 30px;
        max-width: 300px;
        margin-top: -15px;
    }
    .prepare__small {
        font-size: 20px;
        max-width: 300px;
        margin-top: -15px;
        margin-bottom: 6px;
    }
    .reservation__content { 
        max-width: 310px;

    }
    .started__btn {
        margin-bottom: 9px;
    }
    ul.footer__nav__list {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center; 
    }
    .footer__nav {
        display: flex;
        align-items: center;
        flex-direction: column;

        
    }



}