@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn:hover {
    background: linear-gradient(108.34deg, #1e6a7d 4.55%, #034079 95.45%);
    color: #717376;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    margin-left: 0; 
    padding-left: 0; 
}


/*------- начало хэдара ----------*/

/* .right {
    margin-right: 5px;
} */

.nav-last {
    /* margin-right: -20px;
    margin-left: 40px; */
    margin-right: -65px;
    margin-left: 50px;
}

.logo {
    width: 75px;
    height: 16px;
}


.header {
    background-color: #121D39; /*только для начала*/
    padding-top: 44px;
    padding-bottom: 24px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    
    align-items: center;


    position: relative;

    margin-bottom: 80px;
}

/* nav */

.nav__list {
    display: flex;
    column-gap: 80px;
    font-weight: 500;
    font-size: 15px;


}


.nav__link {
    color: #FFFFFF;
    
    text-decoration: none;
    font-style: normal;

    position: relative;
}

.nav__link:after {
    width: 100%;
    height: 4px;
    background-color: #19B1E8;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity .2s ease-in;
    border-radius: 2px
}

.nav__link:last-child {
    margin-right: 25px;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link.active:after {
    opacity: 1;
}

.item-1 {
    margin-left: 75px;
}


.header__btn {
    /*align-items: flex-start;*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #F6F6F6;
    text-decoration: none;
 
    min-width: 128px;
    height: 49px;
    background: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%), linear-gradient(0deg, #BFBFBF, #BFBFBF), #FFFFFF;
    border-radius: 100px;

    /*top: 28px;*/
    

    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    transition: background-color .2s ease;

} 

.nav {
    /* align-items: last baseline; */
    display: flex;
    
}

ul.nav__list {
    align-items: center;
    margin-left: 44px;
}

/* ----начало интро хэдера ---------*/

.intro {
    background: url('../img/intro-background-4.png') no-repeat center;
    background-repeat: cover;
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 30px;
    padding-top: 16px; 
    z-index: -2;
    /*экспиримент*/
    height: 799px;
    /* width: 7576px; */
    
}

.intro__content {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.intro__title { 
    max-width: 441px;
    font-size: 55px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 82px;
    margin-bottom: 30px; /*может меньше*/
    /* top: 236px; */
    margin-top: 40px; /*по любому 70 надо*/
    /* position: absolute; */
}

.header__content p {
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    max-width: 519px;
    color: #FFFFFF;
    
    opacity: 0.5;

    margin-bottom: 70px;
}

.intro__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #F6F6F6;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;

    background: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%);
    border-radius: 27px;

    height: 91px;
    min-width: 263px;

    font-weight: 600;
    font-size: 25px;
    line-height: 38px;

    transition: background-color 3s ease;
}

.intro__btn__1 {
    min-width: 159px;
    height: 50px;
    color: #d6d6d6;

    background: #FFFFFF;
    opacity: 0.25;
    border-radius: 15px;

    
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    margin-top: 30px;
}

/* .intro-ellipse {
    /* position: absolute; */
    /* width: 747px;
    height: 747px; */
    /* left: 661px; 
    top: 102px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;

    background: rgba(27, 138, 219, 0.22);

    z-index: 1;
}*/

/*.intro-hotel {
    width: 592px;
    height: 761px;
    top: 166px;

    z-index: 2;
    
    border-radius: 86px;
} */

.header__img {
    position: relative;
}

.image {
    width: 592px;
    height: 761px;
    border-radius: 86px;
    z-index: 2;

    position: relative;

    /* background: url(../img/intro-hotel.jpg);
    background-size: cover; */
}

.image::before {
    z-index: 2;

    content: "";

    position: absolute;

    top: -72px;
    right: -72px;

    width: 747px;
    height: 747px;
    border-radius: 100%;

    background: rgba(27, 138, 219, 0.22);

    
}

/*----------первые кружочки---------------*/
.big_circle-1  {
    position: absolute;
    max-width: 31px;
    max-height: 31px;
    right: 635px;
    top: 4px;
}

.middle_circle-1 {
    position: absolute;
    max-width: 21px;
    max-height: 21px;
    right: 648px;
    top: 47px;
}

.small_circle-1 {
    position: absolute;
    max-width: 17px;
    max-height: 17px;
    right: 622px;
    top: 38px;
}

.big_circle-2 {
    position: absolute;
    max-width: 31px;
    max-height: 31px;
    right: -56px;
    top: 601px;
}

.middle_circle-2 {
    position: absolute;
    max-width: 21px;
    max-height: 21px;
    right: -68px;
    top: 570px;
}

.small_circle-2 {
    position: absolute;
    width: 17px;
    height: 17px;
    right: -31px;
    top: 575px;
}


/*промежуточный конец интро-хэдера---------------------------*/

/*----------начало блока с инфой про отели---------------------------*/

.featured {
    /* width: 138px; */
    max-height: 45px;
    left: 651px;
    top: 1040px;

    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #17C1ED;

    text-align: center
}

.info__title {
    /* width: 499px; */
    max-height: 83px;
    left: 471px;
    top: 1115px;

    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    color: #101729;

    text-align: center
}

.info {
    padding-top: 109px /*нужно ли снизу задавать 127 --- по вопросом*/
}

/* .info__block {
    display: flex;
    flex-wrap: wrap;
} */

/*начало первого отеля*/

.hotel__ghazi {
    display: flex;
    margin-top: 128px;
    flex-wrap: wrap;

    position: relative;
}

.ghazi__text {
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    /* margin-left: 70px; */
}

.hotel__photo-1 {
    width: 362px;
    height: 424px;
    left: 100px;
    top: 1316px;

    border-radius: 60px;

    margin-right: 70px;
}

.hotel__ghazi_h2 {
    max-width: 259px;
    height: 68px;

    margin-top: 30px;

    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    color: #101729;
}

.ghazi {
    max-width: 456px;
    min-width: 250px;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #101729;
    opacity: 0.5;

    margin-top: 15px;
    margin-bottom: 60px;
}

.info__btn-1 {
    
    min-width: 223px;
    height: 79px;
    left: 532px;
    top: 1574px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #F6F6F6;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;

    background: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%);
    border-radius: 27px;

    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    transition: background-color .2s ease;
}

/*----------вторые кружочки--------------*/

.big_circle-3  {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 1126px;
    top: 81px;
}

.middle_circle-3 {
    position: absolute;
    max-width: 21px;
    max-height: 21px;
    left: 1164px;
    top: 70px;
}

.small_circle-3 {
    position: absolute;
    max-width: 17px;
    height: 17px;
    /* left: 1226px;
    top: 101px; */
    left: 1135px;
    top: 56px;
}

.big_circle-4  {
    position: absolute;
    max-width: 31px;
    max-height: 31px;
    left: 55px;
    top: 543px; 
}

.middle_circle-4 {
    position: absolute;
    max-width: 21px;
    max-height: 21px;
    left: 23px;
    top: 544px;
}

.small_circle-4 {
    position: absolute;
    max-width: 17px;
    max-height: 17px;
    left: 41px;
    top: 573px;
}



/*второй отель*/

.hotel__photo-2 {
    width: 362px;
    height: 424px;
    
    border-radius: 60px;

    margin-right: 70px;
}

.hotel__arslan {
    display: flex;
    margin-top: -25px;
    margin-left: 432px;
    flex-wrap: nowrap;
}

.arslan__text {
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    /* margin-left: 70px; */
}

.hotel__arslan_h2 {
    margin-top: 30px;

    max-width: 278px;
    height: 68px;

    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    color: #101729;
}

.arslan {
    max-width: 456px;
    min-width: 250px;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #101729;
    opacity: 0.5;

    margin-top: 15px;
    margin-bottom: 60px;
}

.info__btn-2 {
    
    min-width: 223px;
    height: 79px;
    left: 532px;
    top: 1574px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #F6F6F6;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;

    background: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%);
    border-radius: 27px;

    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    transition: background-color .2s ease;
}

/*---третий отель-------*/

.hotel__photo-3 {
    width: 362px;
    height: 424px;
    
    border-radius: 60px;

    margin-right: 70px;
}

.hotel__utsman {
    display: flex;
    margin-top: 10px;
    
    flex-wrap: wrap;
}

.utsman__text {
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    /* margin-left: 70px; */
}

.hotel__utsman_h2 {
    max-width: 311px;
    max-height: 68px;

    margin-top: 30px;

    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    color: #101729;
}


.utsman {
    max-width: 456px;
    min-width: 250px;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #101729;
    opacity: 0.5;

    margin-top: 15px;
    margin-bottom: 60px;
}

.info__btn-3 {
    min-width: 223px;
    height: 79px;
    left: 532px;
    top: 1574px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #F6F6F6;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;

    background: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%);
    border-radius: 27px;

    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    transition: background-color .2s ease;
}



/*----------/конец блока с инфой про отели---------------------------*/

/*------начало блока с фитбеком ---------------*/

.review {

    padding-top: 127px
}

.what {
    /* width: 83px; */
    height: 45px;


    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #17C1ED;
    text-align: center;
}

.review__title {
    /* width: 884px; */
    height: 83px;


    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    color: #101729;
    text-align: center;
}

.customers {
    display: flex;
    margin-top: 100px;
    justify-content: center; 
    flex-wrap: wrap;
}

.what__hotel__photo {
    width: 587px;
    height: 587px;
    border-radius: 60px;
    margin-right: 77px;
}

.about__us {
    min-width: 58px;
    max-width: 541px;
    height: 136px;
    font-weight: 500;
    font-size: 45px;
    line-height: 68px;

    color: #101729;
}

.customers__man {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
}

.man {
    margin-right: 30px;
    width: 134px;
    height: 134px;
    border-radius: 35px;
}

.man__name {
    max-width: 107px;
    min-height: 50px;

    font-weight: 500;
    font-size: 33px;
    line-height: 50px;
    color: #101729;
    margin-top: 20px;
}

.location {
    max-width: 231px;
    min-height: 38px;

    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: #101729;

    opacity: 0.5;

    margin-top: 20px;
}

.review__text {
    min-width: 58px;
    max-width: 491px;
    min-height: 66px;

    font-weight: 500;
    font-size: 22px;
    line-height: 33px;

    color: #101729;

    opacity: 0.5;

    margin-top: 60px;
}

.stars {
    margin-top: 25px;
}

.man__text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.star-1 {
    height: 59px;
    width: 59px;
    margin-right: 8px;
}
.star-2 {
    height: 59px;
    width: 59px;
    margin-right: 8px;
}
.star-3 {
    height: 59px;
    width: 59px;
    margin-right: 8px;
}
.star-4 {
    height: 59px;
    width: 59px;
    margin-right: 8px;
}
.star-5 {
    height: 59px;
    width: 59px;
    margin-right: 8px;
}


/*-------/конец блока с фитбеком-------*/

/*----- начало блока с гет стартом--------*/

.reservation__content {
    max-width: 1240px;
    min-height: 571px;
    background: #E7F1FC;
    border-radius: 60px;
    margin-top: 113px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.white__hotel {
    width: 525px;
    height: 529px;
    border-radius: 60px;
    margin-left: 21px;
    margin-top: 21px;
    margin-right: 74px;


}

.prepare__big {
    max-width: 550px;
    font-weight: 500;
    font-size: 45px;
    line-height: 68px;

    color: #101729;

    margin-top: 26px;
    margin-bottom: 20px;
}

.prepare__small {
    max-width: 509px;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #101729;
    opacity: 0.5;
    margin-bottom: 60px;
}

.prepare__text {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-around;
    flex-direction: column;
    justify-content: center;
   
} 

.started__btn {
    max-width: 225px;
    height: 79px;
    /* left: 532px;
    top: 1574px; */

    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #F6F6F6;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;

    background: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%);
    border-radius: 27px;

    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    transition: background-color .2s ease;
}


















/***********футер*******************/

.footer {
    background-color: #ffffff; /*только для начала*/
    padding-top: 77px;
    
}

.footer__nav {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
}
.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    align-items: baseline;
}



.footer__nav__list {
    display: flex;
    column-gap: 80px;
    font-weight: 500;
    font-size: 15px;
}


.footer__nav__link {
    color: #000000;
    
    text-decoration: none;
    font-style: normal;

    position: relative;
}

/* .footer__nav__link:after {
    width: 100%;
    height: 4px;
    background-color: #19B1E8;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity .2s ease-in;
    border-radius: 2px
} */

.footer__nav__link:last-child {
    margin-right: 25px;
}

/* .footer__nav__link:hover:after {
    opacity: 1;
}

.footer__nav__link.active:after {
    opacity: 1;
} */


.footer__btn {
    /*align-items: flex-start;*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #F6F6F6;
    text-decoration: none;
 
    min-width: 128px;
    height: 49px;
    background: linear-gradient(108.34deg, #17C2ED 4.55%, #1C7DD7 95.45%), linear-gradient(0deg, #BFBFBF, #BFBFBF), #FFFFFF;
    border-radius: 100px;

    /*top: 28px;*/
    

    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    transition: background-color .2s ease;

} 

.footer__nav {
    /* align-items: last baseline; */
    display: flex;
    
}

ul.footer__nav__list {
    align-items: center;
}

/*----------/конец футера---------*/

/*медио форматирование и адоптация*/

/* @media only screen and (max-width: 992px){ 
    .header {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
    /*настройка хэдера*/
    /*ul.nav__list {
        align-items: center;

        margin-left: -22px;
    }
    .nav__link:last-child {
        margin-right: 69px;
    }
    .nav__list {
        column-gap: 0px;
    }
    .inrto {
        max-width: 990px;
        display: flex;
        justify-content: center;
        background: none; */
            /* background-color: #121D39; */
    /* }   
    .image {
        width: 90%;
        
        height: auto;
    }
    .image::before {
        display: none;
    }
    .three_circles-2 {
        display: none;
    }
    .three_circles-3 {
        display: none;
    }
    .three_circles-4 {
        display: none;
    }
    .info {
        max-width: 990px;
        display: flex;
        justify-content: center;
    } 
    .hotel__photo-1 {
        margin-right: 4px;
    }
    .hotel__photo-2 {
        margin-right: 4px;
    }
    .hotel__photo-3 {
        margin-right: 4px;
    } */

    /*адаптация отеля ослан*/
    /* .hotel__arslan {
        display: flex;
        margin-top: 27px;
        margin-left: 6px;
        flex-wrap: wrap;
    }
    .arslan {
        max-width: 456px;
        min-width: 250px;
        font-weight: 500;
        font-size: 25px;
        line-height: 38px;
        color: #101729;
        opacity: 0.5;
        margin-top: 66px;
        margin-bottom: 60px;
    } */
    /* конец адаптации отеля ослан*/
    /* .review {
        max-width: 900px;
        display: flex;
        justify-content: center;
    }
    .reservation {
        max-width: 900px;
        display: flex;
        justify-content: center;
    }
    .prepare__text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around;
        flex-direction: column;
        justify-content: center;
    }
    .footer {
        max-width: 900px;
        display: flex;
        justify-content: center;
    }
    .footer__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .footer__nav__list{
        column-gap: 57px;
    } */
     /*    .three_circles-1 {
             display: none;
    }  
} */

/* @media only screen and (max-max-width: 768px) {
    .header {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
    .inrto {
        max-width: 768px;
        display: flex;
        justify-content: center;
        background: none;
        background-color: #121D39;
    }   
    .image::before {
        display: none;
    }
    .three_circles-1 {
        display: none;
    }
    .three_circles-2 {
        display: none;
    }
    .three_circles-3 {
        display: none;
    }
} */


